@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
    --light-blue: #019ff8;
    --gray-icons: #494343;
    --light-gray-icons: rgb(212, 209, 209);
    --green: green;
    --active: #e3fcf7;

    --blue-link: rgb(41, 41, 211);
    --background: #eff2f4;
    --white: #fff;
    --dark-main-background: #191d33;
    --dark-background: #293146;
    --dark-Username: #212744;
    --light-violet: #8790c4;
}

.verify_container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#dark .verify_container {
    background-color: var(--dark-main-background);
}
.header_verify {
    margin-left: 40px;
    margin-top: 15px;
}
.header_verify h1 {
    font-size: 20px;
}

.verify_body {
    margin: 10px 40px;
}
.approve_button,
.disapprove_button {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 17px;
    border: none;
    background-color: white;
    border-radius: 5px;
}
.approve_button {
    width: 75px;
}
.disapprove_button {
    width: 65px;
}
#dark .approve_button,
#dark .disapprove_button {
    background-color: var(--background);
}
.approve_button:hover {
    background-color: rgb(185, 252, 185);
}
.disapprove_button:hover {
    background-color: rgb(253, 214, 214);
}
.approve_button .icon {
    position: absolute;
    top: -2px;
    right: 14px;
    color: green;
    font-size: 22px;
}
.disapprove_button .icon {
    position: absolute;
    font-size: 22px;
    top: -2px;
    right: 11px;
    color: red;
}
.approve_button p {
    color: green;
    font-weight: bold;
}
.disapprove_button p {
    color: red;
    font-weight: bold;
}
.approve_button p,
.disapprove_button p {
    position: absolute;
    top: 25px;
    left: 5px;
    font-size: 10px;
}
